mp2-interpreter/
.DS_Store
mp3-cps/stack.yaml
mp3-cps/.stack-work
mp5-scheme/.stack-work/dist/aarch64-osx/ghc-8.10.7/stack-cabal-mod
mp5-scheme/.stack-work/
mp5-scheme/.stack-work/stack.sqlite3
mp5-scheme/.stack-work/dist/aarch64-osx/ghc-8.10.7/build/autogen/cabal_macros.h
mp5-scheme/.stack-work/dist/aarch64-osx/ghc-8.10.7/setup-config
mps/mp6-type-infer/.stack-work/
